@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300&family=Sarabun:ital,wght@1,100&display=swap');
*{
    margin:0;
    padding:0;
    font-family: roboto-mono;
    font-weight: 200;
}
body {
background-color:lightgray;

}
.container{

    width: 400px;
    margin: 50px auto;
}