<section >
    <ul>
            <li>
                <input type="checkbox">
                <input type="text" placeholder="" >
                <button>
                        <img src="assets/icons/icon-trash.svg">
                </button>
            </li>
    </ul>
    <ul>
        <li class="checked">
            <input type="checkbox">
            <input type="text" placeholder="" >
            <button>
                    <img src="assets/icons/icon-trash.svg">
            </button>
        </li>
</ul>
   
</section>
<app-todo-input-add-itens></app-todo-input-add-itens>
<app-todo-button-delete-all></app-todo-button-delete-all>